.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.top-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 150px;
}

.top-head {
  font-size: 25px;
}

.top-para {
  font-size: 17px;
  font-weight: 400;
}
