/* Write your CSS here */
* {
  margin: 0px;
}

.outer-cont {
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  color: #00e7ff;
}

.coin-out-cont {
  border: 2px solid #00e7ff;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  color: white;
  width: 60%;
}

.coin-haed-cont {
  display: flex;
  justify-content: space-between;
  background-color: #00e7ff33;
  padding: 17px;
  align-items: center;
}

.cur-typ-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.curr-typ {
  margin-right: 30px;
  font-size: 20px;
}

.coin-type {
  margin-right: 25px;
  font-size: 20px;
}

.usd {
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .crytoImg {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .curr-typ {
    margin-right: 0px;
    font-size: 13px;
  }

  .coin-type {
    margin-right: 20px;
    font-size: 13px;
  }

  .usd {
    margin-right: 25px;
  }
  .coin-out-cont {
    width: 75%;
  }
}
