/* Write you CSS here */
.filter-tag {
  width: 100px;
  padding: 2px;
}

.fil-cont {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.fil-head {
  color: #7b8794;
  font-size: 10px;
}
